.new-method {
  display: grid;
  .method-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      display: flex;
    }
    select {
      padding: 0 5px;
      border: 0.5px solid rgba($color-main, $alpha: 0.25);
      border-radius: 25px;
      height: 21px;
      background-color: $color-btn;
      color: $color-main;
      font-weight: 700;
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    font-size: 0.75em;
    height: 40px;
  }
  // input {
  //   display: flex;
  //   align-items: center;
  //   background-color: transparent;
  //   border-radius: 25px;
  //   height: 41px;
  //   border: 1px solid $color-main;
  // }
  div {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    & input {
      width: 90%;
      margin: 0 auto;
    }
    .new-card {
      display: flex;
      align-items: center;
    }
  }
}
