/* ------------------FONTS--------------------*/
$font-text: 'Roboto Mono', monospace;
$font-titles: 'Roboto Condensed', sans-serif;

/* ------------------VARIABLES--------------------*/

$debug-border: 1px solid red;

/* ------------------ CAROUSEL --------------------*/

$card__border-radius: 0.5rem;

/* ------------------PALLETE--------------------*/

$color-main: #264653;
$color-btn: #e9c46a;
$color-hover: #2a9d8f;
$color-light: #dbe4ee;

/* ------------------RESPONSIVE--------------------*/
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
