@import 'variables';



/* ====================================================================================================================
 *  CSS CAROUSEL JQUERY
 * ====================================================================================================================*/


.container {
    display: flex;
    align-items: center;
    max-width: 90vw;
    min-height: 30vh;
}

.card-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // &:hover .card {
    //     opacity: 0.3;
    // }
    &:hover .card:hover {
        transform: scale(1.2);
        opacity: 1;
        box-shadow: 1px 1px 15px 2px $color-hover;
    }
}

.card {
    margin: 3rem 1rem;
    display: inline-block;
    cursor: grab;
    transition: 450ms all;
    border-radius: $card__border-radius;
    transform-origin: center center;
    box-shadow: 1px 3px 9px 1px rgb(116, 116, 116);
    &:hover .card {
        transform: translate3d(100px, 0, 0);
    }
    img {
        object-fit: cover;
    }
    &__titles {
        height: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: .4rem 0;
            &--title {
                width: auto;
                font-size: auto;
        }
    }
}
