
@import 'variables';

/* -------FONT-----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');


/* -------GLOBALS-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $color-light;
}