@import 'mixins';

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/


/*-------------Tablet-------------------*/

@media screen and (max-width:768px) {

    body {
        width: 768px;
        font-size: 13px;
    }

    .main__carousel--subtitles {
        text-align: center;
    }


    .header__img--logo {
        width: 13rem !important;
    }

    .header__menu {
        &--links {
            display: none;
        }
        &__user {
            margin-left: 0rem;
            &--icons {
                padding: 1rem;
            }
        }
    }

    .header__menu__hambur__menu {
        font-size: 1.1rem;
    }

    .card img {
        width: 12rem !important;
        height: 12rem !important;
    }

    .fa-user {
        display: none;
    }

    .fa-bars {
        display: inline !important;
    }

}

/*------------- SMART-PHONES-------------------*/


@media screen and (max-width:375px) {

    body {
        max-width: 375px;
        font-size: 12px;
    }

    .header {
        &__menu {
            padding: 1rem !important;
            &__user {
                input {
                    display: none;
                }
                &--lens {
                    display: none;
                }
            }
        }
    }

    .header__menu__hambur__menu {
        font-size: 1.2rem;
    }

    .main__title {
        h1 {
            font-size: 2rem !important;
        }
    }

    .main__bottom {
        margin: 2rem !important;
    }

    .card-slider {
        width: 98% !important;
    }

    .card {
        margin: 2rem 1rem;
    }

    .card img {
        width: 18rem !important;
        height: 18rem !important;
    }

    .card__titles {
        h3 {
            font-size: 1.5rem;
        }
    }

    .footer {
        align-items: center;
        &__menu--links a {
            margin-right: 2rem !important;
        }
        &__social--icons {
            span {
                font-size: 1rem !important;
            }
        }
    }

    .header__menu__hambur.show.show.show {
        transform: translateX(-150px);
    }
}

