
/* ------------------VARIABLES--------------------*/

$debug-border: 1px solid red;




/* ------------------PALLETE--------------------*/

$color-main: #264653;
$color-btn: #e9c46a;
$color-hover: #2a9d8f;
$color-light: #dbe4ee;



