/* ------------------VARIABLES--------------------*/
/* ------------------ CAROUSEL --------------------*/
/* ------------------PALLETE--------------------*/
/* -------FONT-----------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/* -------GLOBALS-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #dbe4ee;
}

/* ------------------VARIABLES--------------------*/
/* ------------------ CAROUSEL --------------------*/
/* ------------------PALLETE--------------------*/
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
/*-------------Tablet-------------------*/
@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .header__menu--links {
    display: none;
  }
  .header__menu__user {
    margin-left: 0rem;
  }
  .header__menu__user--icons {
    padding: 1rem;
  }

  .fa-user {
    display: none;
  }

  .fa-bars {
    display: inline !important;
  }
}
@media screen and (max-width: 375px) {
  body {
    font-size: 10px;
  }

  .header__menu {
    padding-right: 0;
  }
  .header__menu__user input {
    display: none;
  }
  .header__menu__user--lens {
    display: none;
  }
}
/* ====================================================================================================================
 *  CSS CAROUSEL JQUERY
 * ====================================================================================================================*/
.container {
  display: flex;
  align-items: center;
  max-width: 90vw;
  min-height: 40vh;
}

.card-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 3px 9px 1px #747474;
}
.card-slider:hover .card {
  opacity: 0.3;
}
.card-slider:hover .card:hover {
  transform: scale(1.5);
  opacity: 1;
}

.card {
  position: relative;
  margin: 0.6rem 0.9rem;
  display: inline-block;
  cursor: grab;
  transition: 450ms all;
  border-radius: 0.5rem;
  transform-origin: center center;
  box-shadow: 1px 3px 9px 1px #747474;
}
.card:hover .card {
  transform: translate3d(100px, 0, 0);
}
.card img {
  object-fit: cover;
}
.card__titles {
  display: flex;
  justify-content: space-evenly;
  padding: 0.6rem 0;
}
.card__titles:hover {
  opacity: 1;
}

/* --------------------HEADER------------------------- */
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #264653;
}
.header__img {
  width: 30%;
  display: flex;
  justify-content: center;
}
.header__img--logo {
  width: 15rem;
  rotate: -10deg;
}
.header__menu {
  display: flex;
  padding: 2rem;
}
.header__menu--links {
  align-self: center;
}
.header__menu--links a {
  margin-right: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: #e9c46a;
}
.header__menu--links a:hover {
  border-bottom: 3px solid #2a9d8f;
  color: #2a9d8f;
}
.header__menu__user {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.header__menu__user input {
  height: 33px;
  padding: 0 5px;
  margin: 0 1rem;
  border-radius: 13px;
}
.header__menu__user--lens {
  position: relative;
  right: 50px;
  opacity: 0.4;
}
.header__menu__user--icons {
  display: flex;
  align-items: center;
}
.header__menu__user--icons i {
  margin: 0 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.header__menu__user--icons i:hover {
  transform: scale(1.2);
}
.header__menu__user .fa-bars {
  display: none;
}

/* -------------------- MAIN ------------------------- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  color: #264653;
}
.main__title h1 {
  font-style: italic;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
}
.main__title span {
  font-size: 1.3rem;
}
.main__carousel {
  padding: 1rem;
  width: auto;
  position: relative;
}
.main__carousel--subtitles {
  padding: 3rem;
}
.main__bottom {
  margin: 3rem;
  padding: 1.5rem;
  background-color: #e9c46a;
  border-radius: 5px;
}
.main__bottom a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #264653;
  transition: 400ms all;
}
.main__bottom a:hover {
  color: #2a9d8f;
  transform: scale(1.5);
}

/* -------------------- FOOTER ------------------------- */
.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #264653;
}
.footer__menu {
  display: flex;
  justify-content: center;
}
.footer__menu--links {
  padding: 1rem;
}
.footer__menu--links a {
  margin-right: 4rem;
  color: #e9c46a;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
.footer__menu--links a:hover {
  border-bottom: 3px solid #2a9d8f;
  color: #2a9d8f;
}
.footer__social {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
.footer__social--icons span {
  color: #dbe4ee;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 0.7rem;
}
.footer__social--icons .fa-facebook {
  color: #dbe4ee;
  font-size: 2rem;
  margin-right: 0.7rem;
  cursor: pointer;
}
.footer__social--icons .fa-instagram {
  color: #dbe4ee;
  font-size: 2rem;
  cursor: pointer;
}
.footer__bottom {
  align-self: center;
  margin: 1rem;
}
.footer__bottom--small {
  padding: 1rems;
  color: #dbe4ee;
  font-weight: 600;
}