/* ------------------VARIABLES--------------------*/
/* ------------------ CAROUSEL --------------------*/
/* ------------------PALLETE--------------------*/
/* -------FONT-----------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/* -------GLOBALS-----------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #dbe4ee;
}

/* ------------------VARIABLES--------------------*/
/* ------------------ CAROUSEL --------------------*/
/* ------------------PALLETE--------------------*/
/* ====================================================================================================================
 *  MIXINS  SASS
 * ====================================================================================================================*/
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
/*-------------Tablet-------------------*/
@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    font-size: 13px;
  }

  .header__img--logo {
    width: 13rem !important;
  }

  .header__menu--links {
    display: none;
  }
  .header__menu__user {
    margin-left: 0rem;
  }
  .header__menu__user--icons {
    padding: 1rem;
  }
  .header__menu__hambur__menu {
    font-size: 1.1rem;
  }

  .main__carousel--subtitles {
    text-align: center;
  }
  .main__carousel__cards {
    grid-template: 1fr 1fr/1fr 1fr 1fr !important;
  }
  .main__carousel__cards__item {
    width: 85% !important;
    height: 85% !important;
  }

  .fa-user {
    display: none;
  }

  .fa-bars {
    display: inline !important;
  }
}
/*------------- SMART-PHONES  414px-------------------*/
@media screen and (max-width: 414px) {
  body {
    width: 100vw;
    font-size: 14px;
  }

  .show {
    transform: translateX(310px) !important;
  }

  .header__img {
    margin-left: 3rem;
  }
  .header__menu {
    padding: 1rem !important;
  }
  .header__menu__user input {
    display: none;
  }
  .header__menu__user--lens {
    display: none;
  }

  .header__menu__hambur__menu {
    font-size: 1.2rem;
  }

  .main__title h1 {
    font-size: 2.6rem !important;
  }

  .main__bottom--center {
    text-align: center;
    margin: 0 2.5rem 2.5rem 2.5rem !important;
  }

  .main__carousel {
    width: 100% !important;
  }
  .main__carousel__cards {
    grid-template: repeat(6, 1fr)/1fr !important;
    justify-items: center;
  }
  .main__carousel__cards:hover .main__carousel__cards__item:hover {
    transform: scale(1.1) !important;
  }
  .main__carousel__cards__item {
    margin: 0;
  }
  .main__carousel__cards__item--img {
    height: 85% !important;
  }
  .main__carousel--titles {
    font-size: 1.6rem !important;
  }

  .footer {
    align-items: center;
  }
  .footer__menu--links a {
    margin-right: 2rem !important;
  }
  .footer__social--icons span {
    font-size: 1rem !important;
  }

  .header__menu__hambur.show.show.show {
    transform: translateX(-190px);
  }
}
/*------------- SMART-PHONES  375px-------------------*/
@media screen and (max-width: 375px) {
  .show {
    transform: translateX(355px) !important;
  }

  .header__img {
    margin-left: 3rem;
  }
  .header__menu {
    padding: 1rem !important;
  }
  .header__menu__user input {
    display: none;
  }
  .header__menu__user--lens {
    display: none;
  }

  .header__menu__hambur__menu {
    font-size: 1.2rem;
  }

  .main__title h1 {
    font-size: 2.5rem !important;
  }

  .main__carousel__cards__item {
    margin: 2rem 1rem;
  }
  .main__carousel__cardsimg {
    width: 18.5rem !important;
    height: 18.5rem !important;
  }
  .main__carousel__cards--titles h3 {
    font-size: 1.5rem;
  }

  .main__bottom--btn {
    text-align: center;
    margin: 0 !important;
    font-size: 0.5rem;
  }

  .footer {
    align-items: center;
  }
  .footer__menu--links a {
    margin-right: 2rem !important;
  }
  .footer__social--icons span {
    font-size: 1rem !important;
  }

  .header__menu__hambur.show.show.show {
    transform: translateX(-150px);
  }
}
/* ====================================================================================================================
 *  MIXINS  SASS
 * ====================================================================================================================*/
/* ------------------VARIABLES--------------------*/
/* ------------------ CAROUSEL --------------------*/
/* ------------------PALLETE--------------------*/
/* ------------------VARIABLES--------------------*/
/* ------------------ CAROUSEL --------------------*/
/* ------------------PALLETE--------------------*/
/* -------FONT-----------*/
/* -------GLOBALS-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #dbe4ee;
}

/* ====================================================================================================================
 *  MIXINS  SASS
 * ====================================================================================================================*/
/*  VARIABLES SIGNUP     */
/*******************************/
.container {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  width: 100vw;
  height: 100vh;
}
.container .right-image {
  position: relative;
  z-index: 4;
}
.container .right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .right-image h2 {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color: #dbe4ee;
}

.container .main {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .main__logo img {
  width: 18rem;
}
.container .main__logo h1 {
  color: #264653;
  text-shadow: black;
}
.container .main__logo span {
  margin: 10px 0;
  color: #264653;
  font-size: 1rem;
}
.container .main__logo small {
  margin: 10px;
}
.container .main__social {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.container .main__social a {
  font-size: 2.5rem;
}
.container .main__social .fa-facebook {
  color: #4267b2;
}
.container .main__social .fa-facebook:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
}
.container .main__social .fa-twitter {
  color: #1da1f2;
}
.container .main__social .fa-twitter:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
}
.container .main__social .fa-google {
  color: #ee4433;
}
.container .main__social .fa-google:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
}
.container .main__divisor {
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.container .main__divisor span {
  position: relative;
  bottom: -0.5rem;
  left: 50%;
  z-index: 2;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: #dbe4ee;
  font-size: 0.8rem;
  font-weight: 700;
  color: #264653;
}
.container .main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .main__form__signup {
  width: 100%;
  padding: 0 35px;
}
.container .main__form__signup input {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 15px;
}
.container .main__form p {
  padding: 10px 35px;
}
.container .main__form p a {
  margin-left: 10px;
  text-decoration: none;
}
.container .main__form--btn {
  width: 80%;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  background-color: #e9c46a;
  color: #264653;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}
.container .main__form--btn:hover {
  cursor: pointer;
  color: #2a9d8f;
  box-shadow: 1px 1px 15px 2px #2a9d8f;
}
.container .main__form--link {
  text-decoration: none;
  color: #264653;
  font-weight: 700;
}
.container .main__signBtn {
  width: 50%;
  padding: 15px;
  text-align: center;
  color: #e9c46a;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 50px 0 0 0;
  background-color: #264653;
}
.container .main__signBtn:hover {
  cursor: pointer;
  color: #2a9d8f;
  box-shadow: 1px 1px 15px 2px #2a9d8f;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 768px) {
  .container {
    font-size: 14px;
    height: 100vh;
  }

  .container .main {
    padding: 1.5rem;
  }
  .container .main__form form {
    padding: 0 25px;
  }
  .container .main__signBtn {
    width: 60%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 414px) {
  .container {
    font-size: 13px;
    grid-template: 1fr/1fr;
  }

  .right-image img {
    display: none;
  }

  .container .main {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .container .main {
    padding: 1.2rem;
  }
}
/* ====================================================================================================================
 *                          HEADER
 * ====================================================================================================================*/
.header {
  position: relative;
  z-index: 1;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #264653;
}
.header__img {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
}
.header__img--logo {
  position: absolute;
  z-index: 3;
  width: 18rem;
  rotate: -10deg;
}
.header__menu {
  display: flex;
  padding: 0rem 2rem;
}
.header__menu--links {
  align-self: center;
}
.header__menu--links a {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #e9c46a;
}
.header__menu--links a:hover {
  border-bottom: 3px solid #2a9d8f;
  color: #2a9d8f;
}
.header__menu__user {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.header__menu__user input {
  width: 220px;
  height: 33px;
  padding: 0 35px 0 10px;
  margin: 0 1rem;
  border-radius: 13px;
}
.header__menu__user--lens {
  position: relative;
  right: 50px;
  opacity: 0.4;
}
.header__menu__user--icons {
  display: flex;
  align-items: center;
}
.header__menu__user--icons i {
  margin: 0 1rem;
  color: #ffffff;
  font-size: 1.7rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.header__menu__user--icons i:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
}
.header__menu__user .fa-bars {
  display: none;
}
.header__menu__hambur {
  position: absolute;
  right: 525px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  transform: translateX(-1400px);
  transition: transform 0.5s ease-in-out;
  background-color: #dbe4ee;
  opacity: 0.9;
  box-shadow: 1px 3px 6px 1px #747474;
}
.header__menu__hambur__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
}
.header__menu__hambur__top img {
  width: 6rem;
}
.header__menu__hambur__top .fa-times {
  font-size: 1.3rem;
  cursor: pointer;
}
.header__menu__hambur--search {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.header__menu__hambur--search input {
  width: 10rem;
  height: 33px;
  padding: 0 5px;
  margin: 0 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
}
.header__menu__hambur--search-lens {
  position: relative;
  right: 35px;
  top: 10px;
  opacity: 0.4;
}
.header__menu__hambur__menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem 1.5rem;
}
.header__menu__hambur__menu a {
  margin-bottom: 0.9rem;
  text-decoration: none;
  color: #264653;
  font-weight: bold;
  transition: 450ms all;
}
.header__menu__hambur__menu a:hover {
  border-bottom: 3px solid #e9c46a;
  color: #2a9d8f;
}

.show {
  transform: translateX(-40px);
  position: fixed;
}

.fa-times:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
}

/* ====================================================================================================================
 *                          MAIN
 * ====================================================================================================================*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  color: #264653;
}
.main__title h1 {
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 0;
}
.main__title span {
  font-size: 1.3rem;
}
.main__carousel {
  max-width: 100vw;
  min-height: 40vh;
  padding: 1rem;
}
.main__carousel--subtitles {
  padding: 1.5rem;
  color: #264653;
  font-size: 1.8rem;
  font-weight: 700;
}
.main__carousel__cards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template: 1fr/repeat(6, 1fr);
  padding: 1rem 0;
}
.main__carousel__cards:hover .main__carousel__cards__item {
  opacity: 0.3;
}
.main__carousel__cards:hover .main__carousel__cards__item:hover {
  transform: scale(1.2);
  opacity: 1;
  box-shadow: 1px 1px 15px 2px #2a9d8f;
}
.main__carousel__cards--arrow {
  padding: 1rem;
  align-self: center;
}
.main__carousel__cards__item {
  position: relative;
  margin: 0 0.5rem;
  width: 90%;
  height: 90%;
  margin: 2rem 1rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 450ms all;
  transform-origin: center center;
  box-shadow: 1px 3px 9px 1px #747474;
}
.main__carousel__cards__item:hover .main__carousel__cards__item__item {
  transform: translate3d(100px, 0, 0);
}
.main__carousel__cards__item--img {
  width: 100%;
  height: 80%;
}
.main__carousel__cards__item--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.main__carousel__cards__item--titles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #264653;
}
.main__carousel__cards__item--titles:hover {
  opacity: 1;
}
.main__carousel__cards__item .fa-shopping-basket {
  font-size: 1.5rem;
}
.main__carousel__cards__item .fa-shopping-basket:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
  font-size: 1.7rem;
  cursor: pointer;
}
.main__bottom {
  display: flex;
  justify-content: center;
  transition: 450ms ease-in;
  display: inherit;
  margin: 3rem;
  padding: 1.5rem;
  background-color: #e9c46a;
  border-radius: 10px;
}
.main__bottom:hover {
  transform: scale(1.1);
}
.main__bottom--btn {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #264653;
  transition: 400ms all;
}
.main__bottom--btn:hover {
  color: #2a9d8f;
}

/* ====================================================================================================================
 *                         FOOTER
 * ====================================================================================================================*/
.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #264653;
}
.footer__menu {
  display: flex;
  justify-content: center;
}
.footer__menu--links {
  padding: 1rem;
}
.footer__menu--links a {
  margin-right: 4rem;
  color: #e9c46a;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
.footer__menu--links a:hover {
  border-bottom: 3px solid #2a9d8f;
  color: #2a9d8f;
}
.footer__social {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
.footer__social--icons span {
  color: #dbe4ee;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 0.7rem;
}
.footer__social--icons .fa-facebook {
  color: #dbe4ee;
  font-size: 2rem;
  margin-right: 0.7rem;
  cursor: pointer;
}
.footer__social--icons .fa-facebook:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
}
.footer__social--icons .fa-instagram {
  color: #dbe4ee;
  font-size: 2rem;
  cursor: pointer;
}
.footer__social--icons .fa-instagram:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
  color: #e9c46a;
}
.footer__bottom {
  align-self: center;
  margin: 1rem;
}
.footer__bottom--small {
  padding: 1rems;
  color: #dbe4ee;
  font-weight: 600;
}