@import "globals";
@import "variables";
@import "responsive";
@import "mixins";

/* ====================================================================================================================
 *                          HEADER
 * ====================================================================================================================*/

.header {
    position: relative;
    z-index: 1;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    background-color: $color-main;
    &__img {
        position: relative;
        width: 30%;
        display: flex;
        justify-content: center;
        &--logo {
            position: absolute;
            z-index: 3;
            width: 18rem;
            rotate: -10deg;
        }
    }
    &__menu {
        display: flex;
        padding: 0rem 2rem;
        &--links {
            align-self: center;
        }
        &--links a {
            margin-right: 2rem;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 700;
            color: $color-btn;
            &:hover {
                border-bottom: 3px solid $color-hover;
                color: $color-hover;
            }
        }
        &__user {
            display: flex;
            align-items: center;
            margin-left: 2rem;
            input {
                width: 220px;
                height: 33px;
                padding: 0 35px 0 10px;
                margin: 0 1rem;
                border-radius: 13px;
            }
            &--lens {
                position: relative;
                right: 50px;
                opacity: 0.4;
            }
            &--icons {
                display: flex;
                align-items: center;
            }
            &--icons i {
                margin: 0 1rem;
                color: #ffffff;
                font-size: 1.7rem;
                transition: all 0.2s ease-out;
                cursor: pointer;
                &:hover {
                    @include hover-icons;
                }
            }
            .fa-bars {
                display: none;
            }
        }
        &__hambur {
            position: absolute;
            right: 525px;
            z-index: 5;
            display: flex;
            flex-direction: column;
            max-height: 100vh;
            transform: translateX(-1400px);
            transition: transform 0.5s ease-in-out;
            background-color: $color-light;
            opacity: 0.9;
            box-shadow: 1px 3px 6px 1px rgb(116, 116, 116);
            &__top {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0.7rem;
                img {
                    width: 6rem;
                }
                .fa-times {
                    font-size: 1.3rem;
                    cursor: pointer;
                }
            }
            &--search {
                display: flex;
                justify-content: center;
                margin: 1rem 0;
                input {
                    width: 10rem;
                    height: 33px;
                    padding: 0 5px;
                    margin: 0 1rem;
                    border-radius: 8px;
                    font-size: 0.8rem;
                }
                &-lens {
                    position: relative;
                    right: 35px;
                    top: 10px;
                    opacity: 0.4;
                }
            }
            &__menu {
                display: flex;
                flex-direction: column;
                align-items: left;
                padding: 1rem 1.5rem;
                a {
                    margin-bottom: 0.9rem;
                    text-decoration: none;
                    color: $color-main;
                    font-weight: bold;
                    transition: 450ms all;
                    &:hover {
                        border-bottom: 3px solid $color-btn;
                        color: $color-hover;
                    }
                }
            }
        }
    }
}

.show {
    transform: translateX(-40px);
    position: fixed;
}

.fa-times:hover {
    @include hover-icons;
}

/* ====================================================================================================================
 *                          MAIN
 * ====================================================================================================================*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        color: $color-main;
        h1 {
            font-style: italic;
            font-size: 3rem;
            font-weight: bold;
            padding: 1rem 0;
        }
        span {
            font-size: 1.3rem;
        }
    }
    &__carousel {
        max-width: 100vw;
        min-height: 40vh;
        padding: 1rem;
        &--subtitles {
            padding: 1.5rem;
            color: $color-main;
            font-size: 1.8rem;
            font-weight: 700;
        }

        &__cards {
            width: 100%;
            height: auto;
            display: grid;
            grid-template: 1fr / repeat(6, 1fr);
            padding: 1rem 0;
            &:hover &__item {
                opacity: 0.3;
            }
            &:hover &__item:hover {
                transform: scale(1.2);
                opacity: 1;
                box-shadow: 1px 1px 15px 2px $color-hover;
            }
            &--arrow {
                padding: 1rem;
                align-self: center;
            }
            &__item {
                position: relative;
                margin: 0 0.5rem;
                width: 90%;
                height: 90%;
                margin: 2rem 1rem;
                display: inline-block;
                cursor: pointer;
                border-radius: $card__border-radius;
                transition: 450ms all;
                transform-origin: center center;
                box-shadow: 1px 3px 9px 1px rgb(116, 116, 116);
                &:hover &__item {
                    transform: translate3d(100px, 0, 0);
                }
                &--img {
                    width: 100%;
                    height: 80%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-right-radius: $card__border-radius;
                        border-top-left-radius: $card__border-radius;
                    }
                }
                &--titles {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 1rem 0;
                    font-size: 1.2rem;
                    color: $color-main;
                    &:hover {
                        opacity: 1;
                    }
                }
                .fa-shopping-basket {
                    font-size: 1.5rem;
                    &:hover {
                        @include hover-icons;
                        font-size: 1.7rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: center;
        transition: 450ms ease-in;
        &:hover {
            transform: scale(1.1);
        }
        &--center {
            display: inherit;
            margin: 3rem;
            padding: 1.5rem;
            background-color: $color-btn;
            border-radius: 5px;
            a {
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 700;
                color: $color-main;
                transition: 400ms all;
                &:hover {
                    color: $color-hover;
                }
            }
        }
    }
}

/* -------------------- FOOTER ------------------------- */

.footer {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: $color-main;
    &__menu {
        display: flex;
        justify-content: center;
        &--links {
            padding: 1rem;
            a {
                margin-right: 4rem;
                color: $color-btn;
                font-size: 1.2rem;
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    border-bottom: 3px solid $color-hover;
                    color: $color-hover;
                }
            }
        }
    }
    &__social {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 0;
        &--icons {
            span {
                color: $color-light;
                font-size: 1.4rem;
                font-weight: 700;
                margin-right: 0.7rem;
            }
            .fa-facebook {
                color: $color-light;
                font-size: 2rem;
                margin-right: 0.7rem;
                cursor: pointer;
                &:hover {
                    @include hover-icons;
                }
            }
            .fa-instagram {
                color: $color-light;
                font-size: 2rem;
                cursor: pointer;
                &:hover {
                    @include hover-icons;
                }
            }
        }
    }
    &__bottom {
        align-self: center;
        margin: 1rem;
        &--small {
            padding: 1rems;
            color: $color-light;
            font-weight: 600;
        }
    }
}
