/* ------------------VARIABLES--------------------*/
/* ------------------PALLETE--------------------*/
/* -------FONT-----------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/* -------GLOBALS-----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #dbe4ee;
}

/* ------------------VARIABLES--------------------*/
/* ------------------PALLETE--------------------*/
/* --------------------HEADER------------------------- */
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #264653;
}
.header__img {
  width: 30%;
  display: flex;
  justify-content: center;
}
.header__img--logo {
  width: 15rem;
  rotate: -10deg;
}
.header__menu {
  display: flex;
  padding: 50px;
}
.header__menu--links {
  align-self: center;
}
.header__menu--links a {
  margin-right: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: #e9c46a;
}
.header__menu--links a:hover {
  border-bottom: 3px solid #2a9d8f;
  color: #2a9d8f;
}
.header__menu__user {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.header__menu__user input {
  height: 33px;
  padding: 0 5px;
  margin: 0 1rem;
  border-radius: 13px;
}
.header__menu__user--lens {
  position: relative;
  right: 50px;
  opacity: 0.4;
}
.header__menu__user--icons {
  display: flex;
  align-items: center;
}
.header__menu__user--icons i {
  margin: 0 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.header__menu__user--icons i:hover {
  transform: scale(1.2);
}

/* -------------------- MAIN ------------------------- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: #264653;
}
.main__title h1 {
  font-style: italic;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.main__title span {
  font-size: 1.3rem;
}
.main__carousel {
  padding: 1rem;
  width: auto;
  overflow: inherit;
  position: relative;
}
.main__carousel--subtitles {
  padding: 1rem;
}
.main__carousel__cards {
  width: auto;
  display: flex;
  justify-content: center;
  box-shadow: 1px 3px 9px 1px #747474;
  padding: 1rem 0;
}
.main__carousel__cards:hover .main__carousel__cards__item {
  opacity: 0.3;
}
.main__carousel__cards:hover .main__carousel__cards__item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.main__carousel__cards--arrow {
  padding: 1rem;
  align-self: center;
}
.main__carousel__cards__item {
  position: relative;
  margin: 0 0.5rem;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center center;
  box-shadow: 1px 3px 9px 1px #747474;
}
.main__carousel__cards__item:hover .main__carousel__cards__item__item {
  transform: translate3d(100px, 0, 0);
}
.main__carousel__cards__item img {
  width: 10rem;
  object-fit: cover;
}
.main__carousel__cards__item--titles {
  display: flex;
  justify-content: space-evenly;
  padding: 0.6rem 0;
}
.main__carousel__cards__item--titles:hover {
  opacity: 1;
}

/* -------------------- MAIN ------------------------- */