@import '../../../styles/assets/modules/globals';
@import '../../../styles/assets/modules/variables';

@media screen and (min-width: $breakpoint-mobile) {
  .main_payments {
    .card {
      width: 95%;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .main_payments {
    padding: 2.5% 0;
    .card {
      width: 575px;
      background-color: rgba($color: #fff, $alpha: 0.75);
      border-radius: 25px;
      padding: 25px 2.5%;
      .nav_mobile {
        ul {
          a {
            span {
              display: none;
            }
            .old_methods {
              position: relative;
              bottom: 100px;
              .methods {
                a {
                  margin-bottom: 30px;
                }
              }
            }
            form {
              grid-column-gap: 20px;
              position: relative;
              bottom: 60px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .new_method {
    display: grid;
    .method_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 35px;
    }
  }
}
