@import "../../styles/assets/modules/globals";
@import "../../styles/assets/modules/variables";
@import "../../styles/assets/modules/mixins";

@keyframes logo-rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -130deg;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.notFound {
    width: 100%;
    height: 100vh;
    padding: 30px 0;
    background-color: $color-light;
    color: $color-main;
    &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 280px;
            animation-name: logo-rotate;
            animation-duration: 1.3s;
            animation-timing-function: cubic-bezier(
                0.7339,
                0.0085,
                0.0525,
                0.9508
            );
            animation-fill-mode: forwards;
        }
        h2 {
            font-size: 3.5rem;
            margin: 15px;
            color: $color-btn;
            text-shadow: 1px 2px 3px $color-main;
            animation-name: pulse;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        h1 {
            font-size: 2.5rem;
            margin: 15px;
        }
        h3 {
            font-size: 1.3rem;
            margin: 10px;
        }

        &--return {
            width: 20rem;
            @include btn-styles;
            & span {
                @include btn-text-format;
            }
            &:hover {
                @include hover-btn;
            }
        }
    }
}
