@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
}

.body-home{
    position: relative;
}

@media (min-width: 768px){
    .body-home{
        position: relative;
        /* width: 768px;
        height: 557px; */
        background-color: #DBE4EE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -6px 4px 4px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: 150px 300px 106px;
        z-index: 1;
    }
}

@media (min-width: 1024px){
    .body-home{
        position: relative;
        /* width: 1024px;
        height: 886px; */
        background-color: #DBE4EE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -6px 4px 4px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 177px 353px 353px;
        z-index: 1;
    }
}

@media (min-width: 1440px){
    .body-home{
        position: relative;
        /* width: 1440px;
        height: 884 px; */
        background-color: #DBE4EE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -6px 4px 4px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 177px 353px 353px;
        z-index: 1;
    }
}